# Neolution ❤ http://EditorConfig.org

# This file is the top-most EditorConfig file
root = true

# All Files
[*]
charset = utf-8
end_of_line = crlf
indent_style = space
#indent_size = 4
# (Please don't specify an indent_size here; that has too many unintended consequences.)
insert_final_newline = true
trim_trailing_whitespace = true

# Solution Files
[*.sln]
indent_size = 4
indent_style = tab
charset = utf-8-bom

# XML Project Files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj,njsproj,esproj}]
indent_size = 2
insert_final_newline = false

# Configuration Files
[*.{json,xml,yml,config,props,targets,nuspec,resx,ruleset}]
end_of_line = lf
indent_size = 2

# .NET Config Files
[*.{config}]
indent_size = 2
charset = utf-8-bom

# Markdown Files
[*.md]
end_of_line = lf
trim_trailing_whitespace = false

# Web Files
[*.{htm,html,js,ts,css,scss,less}]
end_of_line = lf
indent_size = 2
insert_final_newline = true
block_comment_start = /*
block_comment = *
block_comment_end = */

# Razor Files
[*.cshtml]
indent_size = 2
charset = utf-8-bom

# Bash Files
[*.sh]
indent_size = 4
end_of_line = lf

# Dotnet Code Files
[*.{cs,csx,cake,vb}]
indent_size = 4
insert_final_newline = true
charset = utf-8-bom

[dist/index.js]
end_of_line = lf
indent_size = unset
indent_style = unset
trim_trailing_whitespace = unset
insert_final_newline = unset

[dist/licenses.txt]
end_of_line = lf
